/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }

body {
  font-family: Verdana;
  font-size: 1em;
  margin: 0; }

body a:link {
  text-decoration: none;
  color: #428bca; }
body a:visited {
  color: #428bca; }
body a:hover {
  text-decoration: underline;
  color: #2a6496; }

.center {
  text-align: center; }

.pedigree_progeny_link {
  text-align: center; }

.language_selector {
  float: right;
  margin: 0.5em;
  margin-right: 1em;
  overflow: hidden; }

.horse_image {
  max-width: 100%;
  margin: 0 auto; }

.ata_logo_image {
  width: 50%; }

.horse_vital_stats td.thick {
  font-weight: bold; }

.clear_div {
  height: 0;
  line-height: 0;
  display: block;
  clear: both; }
table.horse_index a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none; }

table.horse_index a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none; }

table.horse_index a:active,
table.horse_index a:hover {
  color: #bd5a35;
  text-decoration: underline; }

table.horse_index {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 20px;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1; }

table.horse_index th {
  padding: 21px 25px 22px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb); }

table.horse_index th:first-child {
  text-align: left;
  padding-left: 20px; }

table.horse_index tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px; }

table.horse_index tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }

table.horse_index tr {
  text-align: center;
  padding-left: 20px; }

table.horse_index td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0; }

table.horse_index td {
  padding: 18px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa); }

table.horse_index tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6); }

table.horse_index tr:last-child td {
  border-bottom: 0; }

table.horse_index tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }

table.horse_index tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }

table.horse_index tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0); }
nav {
  width: 100%;
  margin: 0;
  background: black; }

nav ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center; }

nav ul li {
  width: 20%;
  height: 100%;
  float: left;
  line-height: 2.5em; }

nav ul li a {
  font-size: 125%;
  display: block;
  width: 100%; }
  @media screen and (max-width: 835px) {
    nav ul li a {
      font-size: 100%; } }
  @media screen and (max-width: 500px) {
    nav ul li a {
      font-size: 85%; } }

nav a:link {
  text-decoration: none;
  color: grey;
  background: black; }
nav a:visited {
  color: grey; }
nav a:hover {
  text-decoration: none;
  color: white;
  background: grey; }

#horse_search_bar {
  float: left;
  margin-left: 0.5em; }

.has_image_checkbox {
  font-size: 125%; }

.has_image_checkbox_label {
  margin-top: 0.5em; }
.pedigree td {
  padding: 0.2em; }

.pedigree_entry, .male, .female {
  color: black;
  font-family: Arial;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid black; }

.male {
  background-color: #cccccc; }

.female {
  background-color: white; }
.UTDB_title {
  font-size: 300%; }
  @media screen and (max-width: 835px) {
    .UTDB_title {
      font-size: 250%; } }
  @media screen and (max-width: 720px) {
    .UTDB_title {
      font-size: 200%; } }
  @media screen and (max-width: 560px) {
    .UTDB_title {
      font-size: 150%; } }
  @media screen and (max-width: 420px) {
    .UTDB_title {
      font-size: 130%; } }

.responsive_text {
  font-size: 100%; }
  @media screen and (max-width: 525px) {
    .responsive_text {
      font-size: 75%; } }
