<title><%= t 'shared.unofficial_trakehner_database' %></title>

<div class="section-colored text-center">
  <div id="new_horse_header">
    <%= render 'shared/website_title' %><br><br>
  </div>
</div>

<h1>New horse</h1>

<%= render 'form' %>

<div class="section-colored text-center">
  <div id="new_horse_footer">
<%= link_to 'Back', horses_path %>
</div>
</div>
