<title>Unofficial Trakehner Database</title>

<div class="section-colored text-center">
  <div id="new_horse_header">
    <h1>The Unofficial Trakehner Database</h1></p><br><br>
  </div>
</div>

<h1>New horse</h1>

<%= render 'form' %>

<%= link_to 'Back', horses_path %>
