
<%= render 'layouts/show_horse_header' %>

<br>
<p class="pedigree_progeny_link"><%= link_to 'Show children', progeny_horse_path(@horse) %></p>
<%= render 'layouts/pedigree' %>
<br>

<%= render 'layouts/show_horse_footer' %>

