<title>About Unofficial Trakehner DB</title>

<div class="section-colored text-center">
  <div id="about_header">
    <h1>The Unofficial Trakehner Database</h1><br>
    <h2>About Us</h2><br>
    <h3>Welcome to our site.</h3>
  </div>
</div>
<br>

<div id="about_body">
  <p>We are trakehner horse breeders from Washington state in
  the Pacific NorthWestern United States.  We are Susan Prestage and Nathaniel
  Barnes of Tabarah Ranch Trakehners.  We intend this site to be a useful tool
  for the Trakehner community for researching Trakehner bloodlines.  Our hope
  is that this can be be a helpful contribution to the community.  We in no
  way wish to trod on any toes or be disrespectful in any way.  If our our
  site or our content troubles you or perhaps you would like to contribute
  additional data or recommendations, we eagerly solicit your views and
  contributions.</p><br>

  <p>We were inspired to create this site shortly after an ATA inspection
  we attended in Washington state in 2011.  We were looking to improve a slight weakness in the croup in our mare line and found that we had a hard
  time researching the stallions and bloodlines to our satisfaction.  Being
  web developers in addition to Trakehner horse breeders, this website was a natural result of this struggle.  We hope using this site gives you as much pleasure as it does us.  Thank you for visiting.<p><br><br>
</div>

<div class="section-colored text-center">
  <div id="about_signature">
    <p>We invite you to visit us at our professional portfolio websites as
      well as our home Trakehner website.</p>
    <a href="http://www.GeekyMamaMare.com" target="_blank">
  Susan Prestage</a><br>
    <a href="http://www.ALightSaberMind.com" target="_blank">
  Nathaniel Barnes</a>
    <br><a href="http://tabarahranchtrakehners.com" target="_blank">Tabarah Ranch Trakehners</a>
    <br>Washington, USA</p>
    <br>
    <%= image_tag( "nathaniel.jpg", size: "162x242", alt: "Nathaniel" ) %>
    <%= image_tag( "susan.jpg", size: "162x242", alt: "Susan" ) %>
  </div>
</div>

<div class="section-colored text-center">
  <div id="about_footer">
    <% if !current_user %>
      <%= link_to "Sign Up", new_user_registration_path %>
    <% end %>
  </div>
</div>


