<title>Contact Unofficial Trakehner DB</title>

<%= render 'shared/website_title' %><br/>
<div id='contact_content' class='center'>

  <div id="contact_header">
    <h2><%= t 'static_pages.contact_us' %></h2><br>
  </div>

  <div id="contact_body">
    <a href="mailto:susan.prestage@gmail.com?Subject=UTDB: " target="_top">
    Susan Prestage</a><br>
    <a href="mailto:nbarnes@gmail.com?Subject=UTDB: " target="_top">
    Nathaniel Barnes</a><br>
    <a href="mailto:admin@unofficialtrakehnerdatabase.com?Subject=UTDB: " target="_top">
    admin@UnofficialTrakehnerDatabase.com</a><br><br>
  </div>
</div>
