/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require simple-sidebar
 *= require_tree .
 */

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

.male {
  background-color: #CCCCCC;
  color: #000000;
  font-family: Arial;
  font-family: 14pt;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid #000000;
}

.female {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial;
  font-family: 14pt;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid #000000;
}

.pedigree_name {
  font-size: 350%;
}

#horse_search_bar {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.has_image_checkbox {
  float: right;
  margin-right: 6%;
  font-size: 150%;
  color: gray;
}

.pedigree_progeny_link {
  text-align: center
}

.language_selector {
  float: right;
  margin-right: 2%;
}

.horse_image_container {
}

img.horse_image {
  max-width: 95%;
}

.ata_logo_image {
  width: 50%;
}