/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.male {
  background-color: #CCCCCC;
  color: #000000;
  font-family: Arial;
  font-family: 14pt;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid #000000;
}

.female {
  background-color: #FFFFFF;
  color: #000000;
  font-family: Arial;
  font-family: 14pt;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  border: 1px solid #000000;
}