/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

body {
  font-family: Verdana;
  font-size: 1em;
  margin: 0;
}

body a {
  &:link {
    text-decoration: none;
    color: #428bca;
  }
  &:visited {
    color: #428bca;
  }
  &:hover {
    text-decoration: underline;
    color: #2a6496;
  }
}

.center {
  text-align: center;
}

.pedigree_progeny_link {
  text-align: center
}

.language_selector {
  float: right;
  margin: 0.5em;
  margin-right: 1em;
  overflow: hidden;
}

.horse_image {
  max-width: 100%;
  margin: 0 auto
}

.ata_logo_image {
  width: 50%;
}

.horse_vital_stats td.thick {
  font-weight:bold;
}

.copyright_notice {
  font-size: 67%
}

.clear_div {
  height: 0;
  line-height: 0;
  display: block;
  clear: both
}
