body {
    .UTDB_title {
        font-size:36px;
    }
}

@media screen and (max-width:800px) {
    .UTDB_title {
        font-size:20px;
    }
}

@media screen and (max-width:400px) {
    .UTDB_title {
        font-size:10px;
    }
}