      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">Trakehner DB</a></li>
          <li><a href="#">Horses</a></li>
          <li><a href="#">Owners</a></li>
          <li><a href="#">Breeders</a></li>
          <li><a href="#">Sign up/Sign in</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
