      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <%= render 'layouts/horse_search' %>
          <li class="sidebar-brand"><a href="/">Trakehner DB</a></li>
          <li><a href="/horses">Horses</a></li>
          <li><a href="#">Owners</a></li>
          <li><a href="#">Breeders</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
          <% if !current_user %>
            <li><a href="/users/sign_up">New Account</a></li>
            <li><a href="/users/sign_in">Log In</a></li>
          <% end %>
          <% if current_user %>
            <li><a href="/users/sign_out">Log Out</a></li>
          <% end %>
        </ul>
      </div>
