      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <%= render 'layouts/horse_search' %>
          <li class="sidebar-brand"><a href="/">Trakehner DB</a></li>
          <li><a href="/horses">Horses</a></li>
          <li><a href="#">Owners</a></li>
          <li><a href="#">Breeders</a></li>
          <li><a href="/users/sign_up">Sign up</a></li>
          <li><a href="/users/sign_in">Sign in</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
